<a href="https://colab.research.google.com/github/tusharbhadak/Basics-of-Python/blob/main/PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 3**

-> Python was invented by Guido Van Rossum in 1991.

-> Python is easy to learn and popular programming language.

-> Free and Open Source.

-> File extension which is used by Python source file is “.py” 

-> Case sensitive

In [ ]:
#Print function
#Syntax - print()
# '#' used for commenting single line (shortcut key - Ctrl+1). 
#For multi-line comments we used Single Quotes (') OR Double Quotes ("") 3 times Ctrl+4.

print("Hello")
print('Welcome')

print("Welcome to Py World")

Hello
Welcome
Welcome to Py World

In [ ]:
#Case sensitive example

a=10
A="20"
print(a)
print(type(A))
'''
b = "25"
print(b)
print(type(b))
'''

10
<class 'str'>

'\nb = "25"\nprint(b)\nprint(type(b))\n'

In [ ]:
print(type(b))

<class 'int'>

# **Variables**

->Variable is nothing but, the value that we assign for a letter or word.

-> Python is dynamically typed, which means that you don't have to declare what type each variable is.

In [ ]:
#Variables
#Rules for variables :-
# 1. A variable must start with a letter or a underscore character 
#2. Variable names are case sensitive.
age=10
_age=20  #case sensitive
AGE=30
print(age)
print(_age)
print(AGE)

Age=40
print(Age)

10
20
30
40

In [ ]:
# 3. A variable cannot start with a number.
"""
1a=10
print(1a)
"""

# 4. Variable name can only contain alpha numeric characters and underscores.
#(a-z, A-Z, 0-9, _).

'\n1a=10\nprint(1a)\n'

# **Data Types in Python**

**Primitive Data Type: -** Primitive data types are predefined (already defined)

**Non Primitive Data Type: -** Non-primitive data types are created by the programmer(user defined)

Python data types :-
-> Text Type:	str

-> Numeric Types:	int, float, complex

-> Sequence Types:	list, tuple, range

-> Mapping Type:	dict

-> Set Types:	set, frozenset

-> Boolean Type:	bool

-> Binary Types:	bytes, bytearray, memoryview

-> None Type:	NoneType

![Primitive-and-Non-Primitive-Data-Types.png]()

In [ ]:
#Number - stores the numeric value.
# 4 different numerical types:-

# Int
a=10
print(type(a))  #type() method returns class type of the argument(object) passed as parameter

#Float
A=10.0
print(type(A))

#Long
#there is no 'long' in python 3, but it was supported in python 2. 
#Because python2 supports only 2 types - int and long.

#Complex
_a=3.14j
print(type(_a))

#It is possible to represent an integer in hexa-decimal or octal form
num=0xA0F  #Hexa-decimal
print(num)

NUM=0o37   #Octal
print(NUM)

<class 'int'>
<class 'float'>
<class 'complex'>
2575
31

# **Number Type Conversion**

Python converts numbers internally in an expression containing mixed types to a common type for evaluation. Sometimes, you need to coerce a number explicitly from one type to another to satisfy the requirements of an operator or function parameter.

In [ ]:
a=10.0523
#print(int(a))         # Type int(x) to convert x to a plain integer.
#print(long(a))       # Type long(x) to convert x to a long integer.
#print(float(a))       # Type float(x) to convert x to a floating-point number.
print(complex(a))     # Type complex(x) to convert x to a complex number with real part x and imaginary part zero.

(10.0523+0j)

In [ ]:
b=str(a)
print(b)
print(type(b))

10.0523
<class 'str'>

In [ ]:
ab =None
print(ab)
print(type(ab))

None
<class 'NoneType'>

In [ ]:
ab =True
print(ab)
print(type(ab))

True
<class 'bool'>

# **String**

string literal in python are surrounded by either single quote or double quotes.

In [ ]:
#String
a='PYTHON 3'
b="Welcome to basics of Python 3 by Tushar"
print(a)
print(type(a))
print(b)
print(type(b))

# Is it possible to use triple quotes? Let's see(Answer is Yes)
_a =""" Hello Everyone"""
print(_a)
print(type(_a))

PYTHON 3
<class 'str'>
Welcome to basics of Python 3 by Tushar
<class 'str'>
 Hello Everyone
<class 'str'>

In [ ]:
_b =''' Hello Everyone'''
print(_b)
print(type(_b))

 Hello Everyone
<class 'str'>

In [ ]:
def msg(fname,lname):
  print("Whats up!"+" "+fname+" "+lname)

msg('Abhay','Gupta')

Whats up! Abhay Gupta

In [ ]:
def area_circle(r):
  return 3.14*r*r

def volume_cuboid(l,b,h):
  return l*b*h

volume_cuboid(10,5,5)

250

In [ ]:
#Default
def country(cnt = 'India'):
  print("I stay in "+cnt)

country('USA')

I stay in USA

In [ ]:
#Global


def stream():
  global x
  x = "FYBCA A Division"
  print("This is "+x)

stream()

This is FYBCA A Division

In [ ]:
a, b ='ABC','XYZ'
print(a)
print(b)

ABC
XYZ

**Functions in Python**

In [ ]:
def msg(fname, lname):
  print("What's up!!" + fname+" "+lname)
msg("Harsh",'Shahporia')

What's up!!Harsh Shahporia

In [ ]:
def my_country(country = 'India'):
  print("I'm from: -" + country)

my_country("LA")

I'm from: -LA

In [ ]:
def area_rect(x,y):
  return x*y

print(area_rect(3,5))

15

In [ ]:
x =None
print(type(x))

<class 'NoneType'>

In [ ]:
x = "Was Invented by Guido Van Rossum"

def creator():
  print('Python ' + x)

creator()

Python Was Invented by Guido Van Rossum

**Strings in Python**

In [ ]:
a = 'Hi \t Hello \n Hey \n Howdy'


print(a)

Hi 	 Hello
 Hey
 Howdy

In [ ]:
a = 'Gopal Jha'
print(a)
print(type(a))
print(a[:-4])

Gopal Jha
<class 'str'>
Gopal

In [ ]:
print(a)

a ="Ghanshyam"
print(a)

Gopal Jha
Ghanshyam

In [ ]:
del a

In [ ]:
print(a)

NameError: ignored

In [ ]:
a = 'Manav'
print(a[-3])

n

In [ ]:
#Multiline strings
clg = " sdj, \t scet.  \n iit,\n  svnit "

print(clg)

 sdj, 	 scet.
 iit,
  svnit

In [ ]:
#String Slicing

str = 'SDJIC College'

print(str[5])

In [ ]:
print(str[:-3])

SDJIC Coll

In [ ]:
#Updating string  
#str[3] = ' '

TypeError: ignored

In [ ]:
print(str)

str = 'Python'
print(str)

SDJIC College
Python

In [ ]:
#deleting String
"""
ab = 'Python'
del ab[2]"""

TypeError: ignored

In [ ]:
del ab

In [ ]:
#print(ab)

NameError: ignored

## Python String Operators

In [ ]:
# '+' Operator
a = "Hey "
b = "How are you?"

print(a+b)
print(a*5)

Hey How are you?
Hey Hey Hey Hey Hey

In [ ]:
a = 10
b = 20
print(a+b)
print(a*b)

30
200

In [ ]:
print('\x48\x65\x6c\x6c\x6f')

Hello

In [ ]:
score = 25
average = 2.56
name = "ABC"

print("Integer value: %d \n  Float value: - %f \n String value:- %s"%(score,average,name))

Integer value: 25
  Float value: - 2.560000
 String value:- ABC

In [ ]:
#Python String Operators

In [ ]:
ab = 'Hey,"What\'s up?"'
print(ab)

Hey,"What"s up?"

In [ ]:
a = "SDJ International College "
b = 5
print(a[2:6])

J In

In [ ]:
a = '\x48\x65\x6c\x6c\x6f'
print(a)

Hello

In [ ]:
a = "Birbal said,\"Hey What\'s up\""
print(a)

Birbal said,"Hey What's up"

In [ ]:
print("\a")



In [ ]:
print("Python1\t python 2\n python 3")

Python1	 python 2
 python 3

In [ ]:
print("\x48\x65\x6c\x6c\x6f")

Hello

In [ ]:
#format method
txt1 = "My name is {fname}, I'm {age} years young".format(fname = "Tushar", age = 24)
print(txt1)

My name is Tushar, I'm 24 years young

In [ ]:
txt3 = "My name is {}, I'm {}, I live in {}".format("John",36, 'Surat')
print(txt3)

My name is John, I'm 36, I live in Surat

In [ ]:
str = "Hello Javatpoint"
str2 = str.center(18,'?') 
print("Old value:", str) 
print("New value:", str2)

Old value: Hello Javatpoint
New value: ?Hello Javatpoint?

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apples")
print(x)

1

In [ ]:
txt = "I love apples, apple are my favorite fruit" 
x = txt.count("a", 18, 24) 
print(x)

1

In [ ]:
str = "->" # string
list = {'Java','C#','Python'} # iterable
str2 = str.join(list)
print(str2)

Python->Java->C#

In [ ]:
x = len("Hello How are you?")
print(x)

18

In [ ]:
x = max("Mike", "John", "Vicky")
print(x)

Vicky

In [ ]:
x = min("ab", "a", "xyz")
print(x)

a

In [ ]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("two", "2")
print(x)

one one was a race horse, 2 2 was one too.

In [ ]:
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

In [ ]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [ ]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
txt = "apple#banana#cherry#orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 2)
print(x)

['apple', 'banana', 'cherry#orange']

In [ ]:
a=25
b=2
a%b

1

In [ ]:
a=5
b=2
a//b

2

In [ ]:
a = 5
b = 2
a%=b

print(a)

1

In [ ]:
a = 2
b =5
a >= b

False

In [ ]:
a = 'Hello'
print(a)

Hello

In [ ]:
a = 2
b = 5
b//=a
print(b)

2

In [ ]:
a =10
b = 20
a<b

SyntaxError: ignored

# **List**

-> List is a collection which is ordered and changeable.

-> It allows duplicate members.

-> In Python lists are written with square brackets. '[]'

In [ ]:
#List
Fruit=['Apple','Banana','Cherry','Mango','Apple']
Fruits=['Apple','Banana','Cherry','Kiwi','Grapes']
print(Fruit)
print(type(Fruit))

['Apple', 'Banana', 'Cherry', 'Mango', 'Apple']
<class 'list'>

In [ ]:
print(Fruits)

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Grapes']

In [ ]:
#List
Fruit=['Apple','Banana','Cherry','Mango','Apple']
Fruits=['Apple','Banana','Cherry','Kiwi','Grapes']
print(Fruit)
print(type(Fruit))

#Some List methods :-
print('-----Append method-----')
# 1. Append method - add new item in list
# Syntax - append()
Fruit.append('Kiwi')
print(Fruit)

print('-----Copy method-----')
# 2. Copy method - copy the whole list
# Syntax - copy()
X=Fruit.copy()
print(X)

print('-----Count method-----')
# 3. Count method - returns the number of elements with specified value
# Syntax - count()
print(len(Fruit)) # len function counts the total elemnents in the list
X=Fruit.count('Apple')
#print(a)
print(X)

print('-----Extend method-----')
# 4. Extend method - add's the specified list elemnts(or any iterable) to the end of current list
# Syntax - extend()
num=[10,20,30,45]
Fruit.extend(num)
Fruit.append(num)
print(Fruit)

print('-----Index method-----')
# 5. Index method - returns index of the first element of specified value
# Syntax - index()
_x=Fruit.index('Apple')
print(_x)


print('-----Clear method-----')
# 6. Clear method - removes all the element from list
# Syntax - clear()
Fruit.clear()
print(Fruit)

print('-----Insert method-----')
# 7. Insert method - Adds an element at the specified position
# Syntax - insert(position, element)
Fruits.insert(1, "Orange")
print(Fruits)

print('-----Pop method-----')
# 8. Pop method - Removes the element at the specified position
# Syntax - pop(position)
Fruits.pop(1)
print(Fruits)

print('-----Remove method-----')
# 9. Remove method - Removes the first item with the specified value
# Syntax - remove(element)
Fruits.remove("Banana")
print(Fruits)


print('-----Reverse method-----')
# 10. Reverse method - reverses the sorting order of the elements
# Syntax - reverse()
Fruits.reverse()
print(Fruits)


print('-----Sort method-----')
# 11. Sort method - sorts the list ascending by default
# Syntax - sort(reverse=True|False, key=myFunc)
Fruits.sort()
print(Fruits)

['Apple', 'Banana', 'Cherry', 'Mango', 'Apple']
<class 'list'>
-----Append method-----
['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Kiwi']
-----Copy method-----
['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Kiwi']
-----Count method-----
6
2
-----Extend method-----
['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Kiwi', 10, 20, 30, 45, [10, 20, 30, 45]]
-----Index method-----
0
-----Clear method-----
[]
-----Insert method-----
['Apple', 'Orange', 'Banana', 'Cherry', 'Kiwi', 'Grapes']
-----Pop method-----
['Apple', 'Banana', 'Cherry', 'Kiwi', 'Grapes']
-----Remove method-----
['Apple', 'Cherry', 'Kiwi', 'Grapes']
-----Reverse method-----
['Grapes', 'Kiwi', 'Cherry', 'Apple']
-----Sort method-----
['Apple', 'Cherry', 'Grapes', 'Kiwi']

In [ ]:
vowels = ['a','i','e','o','u']

var = input("Enter the alphabet:- ")

def vow(var):
  if var in vowels:
    print("It's Vowel")
  else:
    print("It's consonant")

vow(var)

Enter the alphabet:- y
It's consonant

In [ ]:
var = input("Enter the alphabet:- ")
print(var)
print(type(var))

Enter the alphabet:- 8
8
<class 'str'>

# **Tuple**

-> Tuple is a collection which is ordered and unchangeable.

-> In Python tuples are written in round brackets. '()'

In [ ]:
#Tuple

thistuple = (1,2,3,4)
print(thistuple[-3])
print(type(thistuple))

2
<class 'tuple'>

In [ ]:
#Tuple

thistuple = (1,2,3,4)
print(thistuple)
print(type(thistuple))

#Tuple has only count method and index method.
print('-----Count method-----')
# 1. Count method - Returns the number of times a specified value occurs in a tuple
# Syntax - count()
x = thistuple.count(5)
print(x)


print('-----Index method-----')
# 1. Index method - Searches the tuple for a specified value and returns the position of where it was found
# Syntax - index()
x = thistuple.index(2)
print(x)

(1, 2, 3, 4)
<class 'tuple'>
-----Count method-----
0
-----Index method-----
1

In [ ]:
my_tuple = (4, 2, 3, [6, 5])
#print(my_tuple[3][1])
del my_tuple
print(my_tuple)

NameError: ignored

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',) # Membership test in tuple
print('a' in my_tuple)
print('b' in my_tuple)
print('g' not in my_tuple)

True
False
True

In [ ]:
del my_tuple[3]

TypeError: ignored

In [ ]:
print(my_tuple)

NameError: ignored

In [ ]:
# Concatenation
print((1, 2, 3) + (4, 5, 6))
# Repeat
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [ ]:
#For loop
for name in ('John', 'Kate'):
  print("Hello", name)

Hello John
Hello Kate

# **Dictionary**

-> It is a collection which is unordered, changeable and indexed.

-> In Python, Dictionaries are written with curly brackets. '{}'

-> It has Key and value pair.

-> We can access the items of a dictionary by referring to its key name, inside square brackets.

In [ ]:
#Dictionary

car={'Brand':'BMW','Model':'X6', 'Year':2019, 'Brand':'Audi'}
c1={'Brand':'Mercedes','Model':'Benz', 'Year':2018}
print(car)
print(type(car))

{'Brand': 'Audi', 'Model': 'X6', 'Year': 2019}
<class 'dict'>

In [ ]:
print(car["Model"])

X6

In [ ]:
print('-----Clear method-----')
# 1. Clear method - Removes all the elements from the dictionary
#Syntax - items()
c1.clear()
print(c1)

-----Clear method-----
{}

In [ ]:
print('-----Copy method-----')
# 2. Copy method - Returns a copy of the dictionary
#Syntax - copy()
x = car.copy()
print(x)

-----Copy method-----
{'Brand': 'Audi', 'Model': 'X6', 'Year': 2019}

In [ ]:
print('-----Items method-----')
# 3. Items method - Returns a list containing a tuple for each key value pair
#Syntax - items()
print(car.items())

-----Items method-----
dict_items([('Brand', 'Audi'), ('Model', 'X6'), ('Year', 2019)])

In [ ]:
print('-----Popitem method-----')
# 4. Popitem method - Removes the last inserted key-value pair
#Syntax - popitem()
car.popitem()
print(car)

-----Popitem method-----
{'Brand': 'Audi', 'Model': 'X6'}

In [ ]:
print('-----setdefault method-----')
# 5. setdefault method - Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
#Syntax - setdefault(keyname, value)
x1 = car.setdefault("Year", 2020)
print(x1)

-----setdefault method-----
2020

In [ ]:
print(car)

{'Brand': 'Audi', 'Model': 'X6', 'Year': 2020}

In [ ]:
print(car['Year'])

2020

In [ ]:
print('-----update method-----')
# 6. update method - Returns a list containing a tuple for each key value pair
#Syntax - update(iterable)
car.update({"Year": 2021})
print(car)

-----update method-----
{'Brand': 'Audi', 'Model': 'X6', 'Year': 2021, 'color': 'White'}

In [ ]:
#Dictionary

car={'Brand':'BMW','Model':'X6', 'Year':2019}
c1={'Brand':'Mercedes','Model':'Benz', 'Year':2018}
print(car)
print(type(car))

#Dictionary Methods

print('-----Clear method-----')
# 1. Clear method - Removes all the elements from the dictionary
#Syntax - items()
c1.clear()
print(c1)

print('-----Copy method-----')
# 2. Copy method - Returns a copy of the dictionary
#Syntax - copy()
x = car.copy()
print(x)

print('-----Items method-----')
# 3. Items method - Returns a list containing a tuple for each key value pair
#Syntax - items()
print(car.items())

print('-----Popitem method-----')
# 4. Popitem method - Removes the last inserted key-value pair
#Syntax - popitem()
car.popitem()
print(car)

print('-----setdefault method-----')
# 5. setdefault method - Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
#Syntax - setdefault(keyname, value)
x1 = car.setdefault("model", "Audi AQ")
print(x1)

print('-----update method-----')
# 6. update method - Returns a list containing a tuple for each key value pair
#Syntax - update(iterable)
car.update({"color": "White"})
print(car)

print('-----Value method-----')
# 7. Value method - Returns a list of all the values in the dictionary
#Syntax - values()
print(car.values())


print('-----Fromkeys method-----')
# 8. Fromkeys method - Returns a dictionary with the specified keys and value
#Syntax - fromkeys(keys, value)
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

print('-----Get method-----')
# 9. Get method - Returns the value of the specified key
#Syntax - get(keyname, value)
x = car.get("model")
print(x)

print('-----Pop method-----')
# 10. Pop method - Removes the element with the specified key
#Syntax - pop(keyname, defaultvalue)
car.pop("model")
print(car)

print('-----Keys method-----')
# 10. Keys method - Returns a list containing the dictionary's keys
#Syntax - keys()
x2 = car.keys()
print(x2)

{'Brand': 'BMW', 'Model': 'X6', 'Year': 2019}
<class 'dict'>
-----Clear method-----
{}
-----Copy method-----
{'Brand': 'BMW', 'Model': 'X6', 'Year': 2019}
-----Items method-----
dict_items([('Brand', 'BMW'), ('Model', 'X6'), ('Year', 2019)])
-----Popitem method-----
{'Brand': 'BMW', 'Model': 'X6'}
-----setdefault method-----
Audi AQ
-----update method-----
{'Brand': 'BMW', 'Model': 'X6', 'model': 'Audi AQ', 'color': 'White'}
-----Value method-----
dict_values(['BMW', 'X6', 'Audi AQ', 'White'])
-----Fromkeys method-----
{'key1': 0, 'key2': 0, 'key3': 0}
-----Get method-----
Audi AQ
-----Pop method-----
{'Brand': 'BMW', 'Model': 'X6', 'color': 'White'}
-----Keys method-----
dict_keys(['Brand', 'Model', 'color'])

In [ ]:
print('-----Keys method-----')
# 10. Keys method - Returns a list containing the dictionary's keys
#Syntax - keys()
x2 = car.keys()
print(x2)

-----Keys method-----
dict_keys(['Brand', 'Model', 'Year', 'color'])

In [ ]:
print('-----Pop method-----')
# 10. Pop method - Removes the element with the specified key
#Syntax - pop(keyname, defaultvalue)
car.pop("Model")
print(car)

-----Pop method-----
{'Brand': 'Audi', 'Year': 2021, 'color': 'White'}

In [ ]:
print('-----Get method-----')
# 9. Get method - Returns the value of the specified key
#Syntax - get(keyname, value)
x = car.get("Brand")
print(x)

-----Get method-----
Audi

In [ ]:
print('-----Fromkeys method-----')
# 8. Fromkeys method - Returns a dictionary with the specified keys and value
#Syntax - fromkeys(keys, value)
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

-----Fromkeys method-----
{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
print('-----Value method-----')
# 7. Value method - Returns a list of all the values in the dictionary
#Syntax - values()
print(car.values())

-----Value method-----
dict_values(['Audi', 2021, 'White'])

In [ ]:
Employee = {"Name": "Sundar", "Age": 29, "salary":25000,"Company":"GOOGLE"}
print("Type of Object:", type(Employee))
print("Printing Employee data .... ")
print(Employee)
print("Enter the details of the new employee....")
Employee["Name"] = input("Name: ")
Employee["Age"] = int(input("Age: "))
Employee["salary"] = int(input("Salary: "))
Employee["Company"] = input("Company:")
print("\nPrinting the new data...")
print(Employee)

Type of Object: <class 'dict'>
Printing Employee data ....
{'Name': 'Sundar', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}
Enter the details of the new employee....
Name: Akash
Age: 19
Salary: 1

# **Set**

-> A Set is a collection which is unordered (items will appear in random number) and unidexed.

-> In Python, set are written with curly brackets. '{}'

In [ ]:
# Set

comp={'Microsoft','Google','IBM'}
print(comp)
print(type(comp))

{'Google', 'IBM', 'Microsoft'}
<class 'set'>

In [ ]:
print('-----Add method-----')
# 1. Add method - Adds an element to the set
#Syntax - add()
comp.add("Facebook")
print(comp)

-----Add method-----
{'Facebook', 'Google', 'IBM', 'Microsoft'}

In [ ]:
print('-----Clear method-----')
# 2. Clear method - Removes all the elements from the set
#Syntax - clear()
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

-----Clear method-----
set()

In [ ]:
print('-----Copy method-----')
# 3. Copy method - Returns a copy of the set
#Syntax - copy()
x1 = comp.copy()
print(x1)

-----Copy method-----
{'Facebook', 'Google', 'IBM', 'Microsoft'}

In [ ]:
print('-----Difference method-----')
# 4. Difference method - Returns a set containing the difference between two or more sets
#Syntax - difference(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

-----Difference method-----
{'banana', 'cherry'}

In [ ]:
print('-----Difference_update method-----')
# 5. Difference_update - Adds an element to the set
#Syntax - difference_update(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

-----Difference_update method-----
{'banana', 'cherry'}

In [ ]:
print('-----Discard method-----')
# 6. Discard method - Removes the specified item from the set
#Syntax - discard(value)
x.discard("banana")
print(x)

-----Discard method-----
{'cherry'}

In [ ]:
print('-----Intersection method-----')
# 7. Intersection method - Method returns a set that contains the similarity between two or more sets
#Syntax - intersection(set1, set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

-----Intersection method-----
{'apple'}

In [ ]:
print('-----Intersection_update method-----')
# 8. Intersection_update method - Method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets
#Syntax - intersection_update(set1, set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

-----Intersection_update method-----
{'apple'}

In [ ]:
print('-----IsDisjoin method-----')
# 9. isdisjoint method - Returns whether two sets have a intersection or not
#Syntax - isdisjoint(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

-----IsDisjoin method-----
True

In [ ]:
print('-----IsSubset method-----')
# 10. issubset method - Returns whether another set contains this set or not
#Syntax - issubset(set)
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

-----IsSubset method-----
True

In [ ]:
print('-----IsSuperset method-----')
# 11. issuperset method - Returns whether this set contains another set or not
#Syntax - issuperset(set)
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = y.issuperset(x)
print(z)

-----IsSuperset method-----
False

In [ ]:
# Set

comp={'Microsoft','Google','IBM'}
print(comp)
print(type(comp))

# Set methods 

print('-----Add method-----')
# 1. Add method - Adds an element to the set
#Syntax - add()
comp.add("Facebook")
print(comp)

print('-----Clear method-----')
# 2. Clear method - Removes all the elements from the set
#Syntax - clear()
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

print('-----Copy method-----')
# 3. Copy method - Returns a copy of the set
#Syntax - copy()
x1 = comp.copy()
print(x1)

print('-----Difference method-----')
# 4. Difference method - Returns a set containing the difference between two or more sets
#Syntax - difference(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

print('-----Difference_update method-----')
# 5. Difference_update - Adds an element to the set
#Syntax - difference_update(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

print('-----Discard method-----')
# 6. Discard method - Removes the specified item from the set
#Syntax - discard(value)
x.discard("banana")
print(x)

print('-----Intersection method-----')
# 7. Intersection method - Method returns a set that contains the similarity between two or more sets
#Syntax - intersection(set1, set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

print('-----Intersection_update method-----')
# 8. Intersection_update method - Method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets
#Syntax - intersection_update(set1, set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

print('-----IsDisjoin method-----')
# 9. isdisjoint method - Returns whether two sets have a intersection or not
#Syntax - isdisjoint(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

print('-----IsSubset method-----')
# 10. issubset method - Returns whether another set contains this set or not
#Syntax - issubset(set)
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)


print('-----IsSuperset method-----')
# 11. issuperset method - Returns whether this set contains another set or not
#Syntax - issuperset(set)
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

print('-----Pop method-----')
# 12. pop method - Removes an element from the set
#Syntax - pop()
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

print('-----Remove method-----')
# 13. remove method - Removes the specified element
#Syntax - remove(item)
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

print('-----Union method-----')
# 14. union method - Return a set containing the union of sets
#Syntax - union(set1, set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

print('-----Update method-----')
# 15. update method - Update the set with the union of this set and others
#Syntax - update(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'Google', 'IBM', 'Microsoft'}
<class 'set'>
-----Add method-----
{'Google', 'IBM', 'Microsoft', 'Facebook'}
-----Clear method-----
set()
-----Copy method-----
{'Google', 'IBM', 'Microsoft', 'Facebook'}
-----Difference method-----
{'cherry', 'banana'}
-----Difference_update method-----
{'cherry', 'banana'}
-----Discard method-----
{'cherry'}
-----Intersection method-----
{'apple'}
-----Intersection_update method-----
{'apple'}
-----IsDisjoin method-----
True
-----IsSubset method-----
True
-----IsSuperset method-----
True
-----Pop method-----
{'banana', 'apple'}
-----Remove method-----
{'cherry', 'apple'}
-----Union method-----
{'google', 'banana', 'cherry', 'microsoft', 'apple'}
-----Update method-----
{'google', 'banana', 'cherry', 'microsoft', 'apple'}

In [ ]:
print('-----Update method-----')
# 15. update method - Update the set with the union of this set and others
#Syntax - update(set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

-----Update method-----
{'microsoft', 'google', 'banana', 'apple', 'cherry'}

In [ ]:
print('-----Union method-----')
# 14. union method - Return a set containing the union of sets
#Syntax - union(set1, set2)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

-----Union method-----
{'microsoft', 'google', 'banana', 'apple', 'cherry'}

In [ ]:
print('-----Remove method-----')
# 13. remove method - Removes the specified element
#Syntax - remove(item)
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

-----Remove method-----
{'apple', 'cherry'}

In [ ]:
print('-----Pop method-----')
# 12. pop method - Removes an element from the set
#Syntax - pop()
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

-----Pop method-----
{'apple', 'cherry'}

# **Python Conditional Statements**

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

In [ ]:
Age = int(input("Enter the your Age: "))

if Age >= 18:
  print("You are eligible for voting")
else:
  print("Sorry, you are not eligible for voting")

Enter the your Age: 17
Sorry, you are not eligible for voting

In [ ]:
Age = int(input("Enter the your Age: "))

if Age >= 18:
  pass

Enter the your Age: 5

In [ ]:
a = int(input("Enter the number A: "))

if a>=0:
  print("A is a positive no.")
  if a == 0:
    print("The inputted number is Zero")
else:
  print("A is a negative no.")

Enter the number A: 0
A is a positive no.
The inputted number is Zero

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

if a>b:
  print("A is greater than B")
elif a == b:
  print("A & B both are equal")
else:
  print("B is greater than A")

Enter the value of a: 20
Enter the value of b: 20
A & B both are equal

In [ ]:
a = int(input("Enter the Number A: - "))
#b = int(input("Enter the Number B: - "))

if a%2==0:
  print("A is Even number")
else:
  print("A is an Odd number")

Enter the Number A: - 54
A is Even number

In [ ]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = int(input("Enter c : "))
if a>b and a>c:
  print("a is largest")
if b>a and b>c:
  print("b is largest")
if c>a and c>b:
  print("c is largest")

Enter a : 54
Enter b : 65
Enter c : 45
b is largest

In [ ]:
a = int(input("Enter the number: "))

if a>=0:
  print("The number is positive no.")
  if a==0:
    print("The number is zero")
else:
  print("The number is negative no.")

Enter the number: 0
The number is positive no.
The number is zero

In [ ]:
a = 33
b = 3
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
#Ternary Operators, or Conditional Expressions.
a = 338
b = 338
print("A") if a > b else print("=") if a == b else print("B")

=

In [ ]:
a = int(input("Enter the value of A:- "))
b = int(input("Enter the value of B:- "))
c = int(input("Enter the value of C:- "))

if a > b and a>c:
  print("The value of A is greater")

Enter the value of A:- 8
Enter the value of B:- 6
Enter the value of C:- 9

In [ ]:
x = float(input("Enter the value:- "))
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20! ")
  else:
    print("but not above 20.")
else:
  print("Less than 10")

Enter the value:- 9.5
Less than 10

In [ ]:
print("----AND Operator----")
# And Operator - The and keyword is a logical operator, and is used to combine conditional statements
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

print("----OR Operator-----")
# Or Operator - The or keyword is a logical operator, and is used to combine conditional statements
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

print("----Nested If-----")
# Nested If - We can have if statements inside if statements, this is called nested if statements.
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20! ")
  else:
    print("but not above 20.")

print("----The Pass Statement----")
# The pass Statement - if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.
a = 33
b = 200
if b > a:

----AND Operator----
Both conditions are True
----OR Operator-----
At least one of the conditions is True
----Nested If-----
Above ten,
and also above 20!
----The Pass Statement----

In [ ]:
a = 330
b = 450
if b > a:
  pass

In [ ]:
num = int(input("Enter the number: - "))

if num >=0:
  if num ==0:
    print("Number is Zero")
  else:
   print("Number is Positive ")
else:
  print("Negative Number")

Enter the number: - -956
Negative Number

In [ ]:
#If Condition
a = int(input("Enter the Number : - "))

if a%2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter the Number : - 99
Odd Number

In [ ]:
S1 = int(input("Enter your Marks S1: - "))
S2 = int(input("Enter your Marks S2: - "))
S3 = int(input("Enter your Marks S3: - "))

if S1>S2 and  S1>S3:
  print("S1 has a higher marks")

if S2>S1 and S2>S3:
  print("S2 has a higher marks")

if S3>S2 and S3>S1:
  print("S3 has a higher marks")

Enter your Marks S1: - 4
Enter your Marks S2: - 6
Enter your Marks S3: - 9
S3 has a higher marks

In [ ]:
a = int(input("Enter the Number: - "))

if a%2==0:
  print("It's divisible by 2")
elif a%3==0:
  print("It's divisible by 3")
elif a%4==0:
  print("It's divisible by 4")
elif a%5==0:
  print("It's divisible by 5")
else:
  print("It's not divisible by 2,3,4 or 5")

Enter the Number: - 20
It's divisible by 2

In [ ]:
sname = input("Enter the student name: - ")

sub1 = int(input("Enter your PS marks: - "))
sub2 = int(input("Enter your OS marks: - "))
sub3 = int(input("Enter your EDIT marks: - "))
sub4 = int(input("Enter your RDBMS marks: - "))
sub5 = int(input("Enter your IIH marks: - "))

print("------Student details--------\n")
print("Student Name:- ",sname)
print("PS Marks: - ", sub1)
print("OS Marks: - ", sub2)
print("EDIT Marks: - ", sub3)
print("RDBMS Marks: - ", sub4)
print("IIH Marks: - ", sub5)

totalmarks = sub1+sub2+sub3+sub4+sub5
print("\nTotal Marks: - ",totalmarks)

avg = totalmarks/5
print("\n Average marks: - ", avg)

print("\n Result \n")
if avg>=90:
  print("Grade: A+")
elif avg >= 80:
  print('Grade: A')
elif avg >= 70:
  print('Grade: B')
elif avg >= 60:
  print('Grade: C')
elif avg >= 50:
  print('Grade: D')
elif avg >= 35:
  print('Grade: E')
else:
  print("Grade: Fail")

Enter the student name: - Dhruv
Enter your PS marks: - 85
Enter your OS marks: - 82
Enter your EDIT marks: - 19
Enter your RDBMS marks: - 60
Enter your IIH marks: - 85
------Student details--------

Student Name:-  Dhruv
PS Marks: -  85
OS Marks: -  82
EDIT Marks: -  19
RDBMS Marks: -  60
IIH Marks: -  85

Total Marks: -  331

 Average marks: -  66.2

 Result

Grade: C

# **Python Iterative Statements(Loops)**

Python has 2 primitive loop commands :-
1. while Loop
2. for loop

In [ ]:
# while loop - With the while loop we can execute a set of statements as long as a condition is true

"""Syntax:-
while expression:
    statement(s)"""

#Basic While Loop Program
count = 1
while (count < 3):
    count = count + 1
    print("Hello It's me Python")

Hello It's me Python
Hello It's me Python

In [ ]:
# Single statement while block
count = 0
while (count < 5): count += 1; print("Awesome")

Awesome
Awesome
Awesome
Awesome
Awesome

In [ ]:
#Python while loop with user input
a = int(input('Enter a number (-1 to quit): '))
 
while a != -1:
    a = int(input('Enter a number (-1 to quit): '))

Enter a number (-1 to quit): 1
Enter a number (-1 to quit): 5
Enter a number (-1 to quit): -8
Enter a number (-1 to quit): -1

In [ ]:
#Program to print table of any number
i=1
number = int(input("Enter the number:"))
while i <= 10:
  print("\n %d X %d = %d \n"%(number, i, number * i))
  i = i+1

Enter the number:12

 12 X 1 = 12


 12 X 2 = 24


 12 X 3 = 36


 12 X 4 = 48


 12 X 5 = 60


 12 X 6 = 72


 12 X 7 = 84


 12 X 8 = 96


 12 X 9 = 108


 12 X 10 = 120

In [ ]:
#Nested While Loop
"""Syntax: -
while expression:
   while expression:
      statement(s)
   statement(s)"""

i=1
while i<=3:
  print(i ,"Outer loop is executed only once")
  j=1
  while j<=3:
    print(j ,"Inner loop is executed until to completion")
    j+=1
  i+=1

1 Outer loop is executed only once
1 Inner loop is executed until to completion
2 Inner loop is executed until to completion
3 Inner loop is executed until to completion
2 Outer loop is executed only once
1 Inner loop is executed until to completion
2 Inner loop is executed until to completion
3 Inner loop is executed until to completion
3 Outer loop is executed only once
1 Inner loop is executed until to completion
2 Inner loop is executed until to completion
3 Inner loop is executed until to completion

In [ ]:
#nested for loop to find the prime numbers from 2 to 10
i = 2
while(i < 10):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print(i, " is prime")
   i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
Good bye!

In [ ]:
#Program to create a pattern of numbers using a nested while loop
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In the above code, the outer while loop keeps track of every new line inside the pattern, and the inner while loop displays the number according to the condition.
For example, if i=2
Outer loop:-

Since 2<=5, the outer loop gets executed
Inner loop:-
  
1.   Initially j=1 and since 1<=2 inners for loop is executed
2.   Print j as 1 and increment j
3.   Again check the condition, 2<=2, and the inner loop is executed
4.   Print j as 2 and increment j
5.   Now since 3<=2 is False so we get out of the inner loop

In [ ]:
# With the break statement we can stop the loop even if the while condition is true
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# The control transfer is transferred
# when break statement soon it sees t
i = 0
str1 = 'javatpoint'
while i < len(str1):
  if str1[i] == 't':
    i += 1
    break
  print('Current Letter :', str1[i])
  i += 1

Current Letter : j
Current Letter : a
Current Letter : v
Current Letter : a

In [ ]:
# With the continue statement we can stop the current iteration, and continue with the next
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# prints all letters except 'a' and 't'
i = 0
str1 = 'javatpoint'
while i < len(str1):
  if str1[i] == 'a' or str1[i] == 't':
    i += 1
    continue
  print('Current Letter :', str1[i])
  i += 1

Current Letter : j
Current Letter : v
Current Letter : p
Current Letter : o
Current Letter : i
Current Letter : n

In [ ]:

# With the else statement we can run a block of code once when the condition no longer is true
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
# for loop - A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
#range
for x in range(2, 10):
  print(x)

2
3
4
5
6
7
8
9

In [ ]:
# Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
#Nested For loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#Table
n = int(input("Enter the number "))
for i in range(1,11):
  c = n*i
  print(n,"*",i,"=",c)

Enter the number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#Program to print odd no. using range.
n = int(input("Enter the number "))
for i in range(1,n,2):
  print(i)

Enter the number 10
1
3
5
7
9

In [ ]:
#Program to print even no. using range
n = int(input("Enter the number "))
for i in range(2,n,2):
  print(i)

Enter the number 10
2
4
6
8

## ***Numpy***

NumPy is a Python package. It stands for 'Numerical Python' for the
computation and processing of the multidimensional and single
dimensional array elements. It is a library consisting of
multidimensional array objects and a collection of routines for
processing of array.

NumPy doesn't come bundled with Python. We have to install it using the python pip
installer. Execute the following command.

***$ pip install numpy***

NumPy package is imported using the following syntax −

***import numpy as np***

In [ ]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (1.22.4)

In [ ]:
import numpy as np
arr = np.array((1, 2, 3, 4, 5))
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [ ]:
#Create a 0-D array with value 35
import numpy as np
arr = np.array(35)
print(arr)
print(type(arr))

35
<class 'numpy.ndarray'>

In [ ]:
#Create a 1-D array containing the values 1,2,3,4,5:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [ ]:
#Create a 2-D array containing two arrays with the values 1,2,3 and 4,5,6:
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr)
print(type(arr))

[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>

In [ ]:
#Create a 3-D array with two 2-D arrays, both containing two arrays with the values 1,2,3 and 4,5,6:-
import numpy as np
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
print(arr)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

# **ndim** method is used to check the dimension of the array

In [ ]:
#Check Number of Dimensions
import numpy as np
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

In [ ]:
#Program for Basic array characteristics
# Python program to demonstrate
# basic array characteristics

import numpy as np

# Creating array object
arr = np.array( [[ 1, 2, 3],
[ 4, 2, 5]] )
print(arr)
# Printing type of arr object
print("\n Array is of type: ", type(arr))
# Printing array dimensions (axes)
print("No. of dimensions: ", arr.ndim)
print("Shape of array: ", arr.shape)
# Printing size (total number of elements) of array
print("Size of array: ", arr.size)
print("Array stores elements of type: ", arr.dtype)

[[1 2 3]
 [4 2 5]]

 Array is of type:  <class 'numpy.ndarray'>
No. of dimensions:  2
Shape of array:  (2, 3)
Size of array:  6
Array stores elements of type:  int64

Some of the important attributes of a NumPy object are: -

**Ndim:** displays the dimension of the array

**Shape:** returns a tuple of integers indicating the size of the array

**Size:** returns the total number of elements in the NumPy array

**Dtype:** returns the type of elements in the array, i.e., int64, character

**Itemsize:** returns the size in bytes of each item

**Reshape:** Reshapes the NumPy array

# **Numpy Methods**

In [ ]:
#Python program to demonstrate mean() function
import numpy as np
data1 = [1, 3, 4, 5, 7, 2] # list of positive integer numbers
x = np.mean(data1)
print("Mean is :", x) # Printing the mean

Mean is : 3.6666666666666665

In [ ]:
#Python program to demonstrate median() function
import numpy as np
a1= [20, 2, 7, 1, 34] # 1D array
print("a1 : ", a1)
print("median of a1 : ", np.median(a1))

a1 :  [20, 2, 7, 1, 34]
median of a1 :  7.0

Numpy doesn't support mode.

To calculate mode we've to use Scipy library

In [ ]:
#Use the SciPy mode() method to find the number that appears the most:
from scipy import stats
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
x = stats.mode(speed)
print(x)

ModeResult(mode=array([86]), count=array([3]))

<ipython-input-4-b9dd3fa34330>:4: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  x = stats.mode(speed)

In [ ]:
#Standard Deviation - numpy.std() method
import numpy as np
# 1D array
arr = [20, 2, 7, 1, 34]
print("arr : ", arr)
print("std of arr : ", np.std(arr))

arr :  [20, 2, 7, 1, 34]
std of arr :  12.576167937809991

In [ ]:
#NumPy var() method to find the variance:
import numpy
speed = [32,111,138,28,59,77,97]
x = numpy.var(speed)
print(x)

1432.2448979591834

# **Pandas Dataframe**
Pandas is defined as an open-source library that provides high-performance data manipulation in Python.

command to install pandas: - **$pip install pandas**

importing pandas: - 
**import pandas**
OR
**import pandas as pd**

In [ ]:
#Pandas Dataframe
#Syntax: - pandas.DataFrame( data, index, columns, dtype, copy)
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#Creating a dataframe using List
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
#The DataFrame can be created using a list of lists.
import pandas as pd
lst = [['Vruti', 20, 89], ['Binjal',19, 85],
['Mihir', 19,90], ['Taher', 18,95], ['Dhaval', 20,84]]
# Calling DataFrame constructor on list
df = pd.DataFrame(lst,columns=['Name','Age','Percentile'],dtype=float)
print(df)

     Name   Age  Percentile
0   Vruti  20.0        89.0
1  Binjal  19.0        85.0
2   Mihir  19.0        90.0
3   Taher  18.0        95.0
4  Dhaval  20.0        84.0

<ipython-input-9-2cb5386df46a>:6: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst,columns=['Name','Age','Percentile'],dtype=float)

In [ ]:
#Creating dataframe using dict of equal length list
import pandas as pd
data = {'Name':['Prince', 'Bhumi', 'Jalak', 'Jemil'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0  Prince   28
1   Bhumi   34
2   Jalak   29
3   Jemil   42

In [ ]:
#Let us now create an indexed DataFrame using arrays.
import pandas as pd
data = {'Name':['Umang', 'Vanshita', 'Pratham', 'Saumil'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

           Name  Age
rank1     Umang   28
rank2  Vanshita   34
rank3   Pratham   29
rank4    Saumil   42

In [ ]:
#Reading data using csv file (read_csv())
#Load the CSV into a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.to_string())
#print(df)

FileNotFoundError: ignored

In [ ]:
#Retrieving rows and columns from dataframe using index
#Retrieving rows and columns using loc and iloc functions.
#Let’s create a simple dataframe with a list of tuples, say column names are: ‘Name’, ‘Age’, ‘City’ and ‘Salary’.
import pandas as pd
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
('Saumya', 32, 'Delhi', 25000),
('Aaditya', 25, 'Mumbai', 40000),
('Saumya', 32, 'Delhi', 35000),
('Saumya', 32, 'Delhi', 30000),
('Saumya', 32, 'Mumbai', 20000),
('Aaditya', 40, 'Dehradun', 24000),
('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])
# Show the dataframe
print(df)

      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

In [ ]:
#To select single column & to select multiple columns
import pandas as pd # import pandas
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
('Saumya', 32, 'Delhi', 25000),
('Aaditya', 25, 'Mumbai', 40000),
('Saumya', 32, 'Delhi', 35000),
('Saumya', 32, 'Delhi', 30000),
('Saumya', 32, 'Mumbai', 20000),
('Aaditya', 40, 'Dehradun', 24000),
('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Show the dataframe
print("\n<------Show the dataframe------->")
print(df)
# Using the operator [] to select a column
print("\n<------Result Of Cities------->")
result = df["City"]
# Show the dataframe
print(result)
# Using the operator [] to select multiple columns
print("\n<------Result Of Name,Age & Salarys------->")
result = df[["Name", "Age", "Salary"]]
# Show the dataframe
print(result)

<------Show the dataframe------->
      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

<------Result Of Cities------->
0    Varanasi
1       Delhi
2      Mumbai
3       Delhi
4       Delhi
5      Mumbai
6    Dehradun
7       Delhi
Name: City, dtype: object

<------Result Of Name,Age & Salarys------->
      Name  Age  Salary
0    Stuti   28   20000
1   Saumya   32   25000
2  Aaditya   25   40000
3   Saumya   32   35000
4   Saumya   32   30000
5   Saumya   32   20000
6  Aaditya   40   24000
7    Seema   32   70000

In [ ]:
#Using Dataframe.loc[ ]
#Syntax: DataFrame.loc["row1"]
#To select single row & multiple rows.
import pandas as pd
employees = [('Stuti', 28, 'Varanasi', 20000),
('Saumya', 32, 'Delhi', 25000),
('Aaditya', 25, 'Mumbai', 40000),
('Saumya', 32, 'Delhi', 35000),
('Saumya', 32, 'Delhi', 30000),
('Saumya', 32, 'Mumbai', 20000),
('Aaditya', 40, 'Dehradun', 24000),
('Seema', 32, 'Delhi', 70000) ]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])
print("<-------------DataFrame---------->")
print(df)
# Set 'Name' column as index on a Dataframe
print("\n<----------DataFrame after Set_index-------->")
df.set_index("Name", inplace = True)
print(df)
# Using the operator .loc[] to select single row
result = df.loc["Stuti"]
# Show the dataframe
print("\n<----DataFrame With Single Row----->")
print(result)
# Using the operator .loc[] to select multiple rows
result = df.loc[["Stuti", "Seema"]]
# Show the dataframe
print("\n<----DataFrame With multiple rows----->")
print(result)

<-------------DataFrame---------->
      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

<----------DataFrame after Set_index-------->
         Age      City  Salary
Name
Stuti     28  Varanasi   20000
Saumya    32     Delhi   25000
Aaditya   25    Mumbai   40000
Saumya    32     Delhi   35000
Saumya    32     Delhi   30000
Saumya    32    Mumbai   20000
Aaditya   40  Dehradun   24000
Seema     32     Delhi   70000

<----DataFrame With Single Row----->
Age             28
City      Varanasi
Salary       20000
Name: Stuti, dtype: object

<----DataFrame With multiple rows----->
       Age      City  Salary
Name
Stuti   28  Varanasi   20000
Seema   32     Delhi   70000

In [ ]:
#To select multiple rows and particular columns.
#Syntax: Dataframe.loc[["row1", "row2"...], ["column1", "column2", "column3"...]]

import pandas as pd
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
('Saumya', 32, 'Delhi', 25000),
('Aaditya', 25, 'Mumbai', 40000),
('Saumya', 32, 'Delhi', 35000),
('Saumya', 32, 'Delhi', 30000),
('Saumya', 32, 'Mumbai', 20000),
('Aaditya', 40, 'Dehradun', 24000),
('Seema', 32, 'Delhi', 70000) ]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])
# Set 'Name' column as index on a Dataframe
df.set_index("Name", inplace = True)
# Using the operator .loc[] to select multiple rows with some particular columns
result = df.loc[["Stuti", "Seema"],["City", "Salary"]]
# Show the dataframe
print(result)

           City  Salary
Name
Stuti  Varanasi   20000
Seema     Delhi   70000

In [ ]:
#Using Dataframe.iloc[ ] to select a single row, multiple rows, 
#multiple rows with some particular columns and to select all the rows with some particular columns

# import pandas
import pandas as pd
employees = [('Stuti', 28, 'Varanasi', 20000),
('Saumya', 32, 'Delhi', 25000),
('Aaditya', 25, 'Mumbai', 40000),
('Saumya', 32, 'Delhi', 35000),
('Saumya', 32, 'Delhi', 30000),
('Saumya', 32, 'Mumbai', 20000),
('Aaditya', 40, 'Dehradun', 24000),
('Seema', 32, 'Delhi', 70000) ]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])
print("<----------DataFrame------------>")
print(df)
# Using the operator .iloc[] to select single row
result = df.iloc[2]
# Show the dataframe
print("\n<----single row----->")
print(result)

# Using the operator .iloc[] to select multiple rows
result = df.iloc[[2, 3, 5]]
# Show the dataframe
print("\n<----multiple rows----->")
print(result)
# to select multiple rows with some particular columns.
# Using the operator .iloc[] to select multiple rows with some particular columns
result = df.iloc[[2, 3, 5],[0, 1]]
# Show the dataframe
print("\n<--multiple rows with some particular columns-->")
print(result)
# Using the operator .iloc[] to select all the rows with some particular columns
result = df.iloc[[0, 1], :]
# Show the dataframe
print("\n<---select all the rows with some particular columns-->")
print(result)

<----------DataFrame------------>
      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

<----single row----->
Name      Aaditya
Age            25
City       Mumbai
Salary      40000
Name: 2, dtype: object

<----multiple rows----->
      Name  Age    City  Salary
2  Aaditya   25  Mumbai   40000
3   Saumya   32   Delhi   35000
5   Saumya   32  Mumbai   20000

<--multiple rows with some particular columns-->
      Name  Age
2  Aaditya   25
3   Saumya   32
5   Saumya   32

<---select all the rows with some particular columns-->
     Name  Age      City  Salary
0   Stuti   28  Varanasi   20000
1  Saumya   32     Delhi   25000